.modal.transit {
  display:none;




}
.modal.transit .modal-wrapper {
  max-width: 1000px;

  background: green;

 

  max-height: calc(100vh - 30px);



}

.modal.transit.active{
    display:flex;
}
.modal.transit .inner-wrapper{
    border: 3px solid #0eff00;

    padding:1rem;
}