.sidebar {
  height: calc(100vh - 50px);

  width: 250px;

  background: var(--backgroundOne);

  overflow-y: scroll;
}

.sidebar ul li a {
  display:flex;

  padding: 0.6rem 1rem;

  text-decoration: none;

  align-items:center;
  text-align:center;
}

.sidebar ul li a span{
    display:flex;
   
    align-items:center;
    margin-right:10px;
    font-size:1.4rem;
}