.navbar .container {
  display: flex;

  justify-content: space-between;

  align-items: center;

  text-align: center;

  height: 100%;
  width: 100%;
}

.navbar {
  height: 50px;

  width: 100%;

  position: fixed;

  right: 0;

  left: 0;

  z-index: 99;

  background: var(--backgroundOne);
}

.navbar .container .icon-image {
  height: 40px;
  width: 40px;
}
.navbar .container .profile-card {
  display: flex;
  align-items: center;

  justify-content: space-between;

  text-align: center;

  margin-right: 2rem;

  height: 100%;
}

.navbar .container .profile-card .dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
.navbar .container .profile-card .dropdown span {
  font-size: 2.5rem;
}
.navbar .container .left-card {
  width: 250px;

  height: 100%;

  background: var(--black);

  display: flex;

  align-items: center;

  justify-content: center;
  position: relative;
}

.navbar .container .left-card .menu-icon {
  border: none;
  background: none;
  color: var(--white);
  position: absolute;

  top: 50%;

  transform: translate(-50%, -50%);
  cursor: pointer;
}
.triangle-up {
  position: absolute;
  top: -10px; /* Adjust as necessary */
  right: 20px; /* Position it as needed */
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white; /* Background color of the dropdown */
}

.navbar .container .left-card .menu-icon.desktop {
  right: 3px;
}

.navbar .container .left-card.mobile .menu-icon.left {
  left: 1.5rem;
}
.navbar .container .left-card.mobile .menu-icon.right {
  right: 1.5rem;
}

.navbar .container .left-card.mobile {
  display: none;
}

@media (max-width: 820px) {
  .navbar .container .profile-card {
    display: none;
  }
  .navbar .container .left-card {
    width: 100%;
  }
  .navbar .container .left-card.desktop {
    display: none;
  }
  .navbar .container .left-card.mobile {
    display: flex;
  }
}
