@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
:root {
  --white: #ffffff;
  --backgroundOne: #02e45c;
  --black: #000;
  --backgroundFour: #ecb40a;
  --custom-shadow:0 0 5px rgba(0,0,0,0.25);
}
.custom-orange{
  background:var(--backgroundFour);
}

.custom-shadow{
  box-shadow:var(--custom-shadow);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #ababab;
}
::-webkit-scrollbar-thumb {
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  max-width: 1500px;

  width: 100%;

  margin: 0 auto;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.main {
  width: calc(100% - 250px);
  float: right;
  transition:all 0.5s;
}
.main.mobile{
  width:100%;
  
}
.units{
  font-size:2rem;
  text-align:center;
  margin-top:1rem;
}

@media (max-width: 1132px) {
  .main {
    width: 100%;
  }
}
